font-size-list = 16px
font-size-task = 14px
bg-body = #efaed3
color-title-list = #86b32B
bg-btn = #992667

body 
   background: bg-body


.list
   font: font-size-list
   color: color-title-list

.btn
   background: bg-btn !important

input[type=checkbox]:checked + label 
   text-decoration: line-through

   